body {
	background-color: #F2F2FF;
}
h2 {
	text-decoration: underline;
}
h3 {
	text-decoration: underline;
}
.description {
	border: 2px solid black;
	padding: 3%;
}
.course {
	padding: 2%;
}
.comments {
	border: 1px solid black;
	text-align: left;
	padding: 2%;
	display: none;
	font-size: 1.2em;
}
.comButton {
	float: right;
}
.comButton:hover {
	color: #5A9E5A;
}
tr {
	border: 4px dashed #c3dfef;
}
td {
	padding: 1.5%;
	width: 70%;
}
p div p {
	text-decoration: underline;
	text-decoration: overline;
}
.data {
	text-align: left;
	color: #0095cd;
	font-size: 2em;
}

@media only screen and (min-width: 1200px) {

#center{
		display: inline-block;
		text-align: center;
		/*background-color: yellow; */
		margin-left:15.5em; /* Need this*/
		margin-top:12em; /* Need this*/
	}
}
/*.data {
	border: 3px solid black;
	border-radius: 100%;
	width: 10%;
	text-align: center;
}*/