/* *** VIKRAM***/
body {
/*margin:50px 0px; padding:0px;
    text-align:center;
    align:center;
*/
}
h1{
	padding: 1.5em;
	display: 0 auto;
	display: inline-block;
	text-align: center;
}
input:focus{
	background-color: #42ff23;
}